:root {
    --color-yellow: rgb(234,162,41);
    --color-red: rgb(215, 47, 44);
    --color-blue: rgb(0, 69, 203);
    --color-purple: rgb(67, 37, 117);
    --color-orange: rgb(251, 87, 34);
    --color-green: rgb(11, 94, 73);
    --color-brown: rgb(168, 48, 58);
}


.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    transform: translate(-10px, -10px);
    border-radius: 50%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
.ball-number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 30%;
    background: white;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.ball-white {
    background: white;
}
.ball-red {
    background: var(--color-red);
}
.ball-yellow-striped {
    background: linear-gradient(0deg, #FFFFFF 10%, var(--color-yellow) 10%, var(--color-yellow) 90%, #FFFFFF 90%);
}
.ball-green-striped {
    background: linear-gradient(0deg, #FFFFFF 10%, var(--color-green) 10%, var(--color-green) 90%, #FFFFFF 90%);
}
.ball-brown-striped {
    background: linear-gradient(0deg, #FFFFFF 10%, var(--color-brown) 10%, var(--color-brown) 90%, #FFFFFF 90%);
}
.ball-black {
    background: black;
}
.ball-purple-striped {
    background: linear-gradient(0deg, #FFFFFF 10%, var(--color-purple) 10%, var(--color-purple) 90%, #FFFFFF 90%);
}
.ball-blue-striped {
    background: linear-gradient(0deg, #FFFFFF 10%, var(--color-blue) 10%, var(--color-blue) 90%, #FFFFFF 90%);
}
.ball-orange {
    background: var(--color-orange);
}
.ball-green {
    background: var(--color-green);
}
.ball-blue {
    background: var(--color-blue);
}
.ball-orange-striped {
    background: linear-gradient(0deg, #FFFFFF 10%, var(--color-orange) 10%, var(--color-orange) 90%, #FFFFFF 90%);
}
.ball-yellow {
    background: var(--color-yellow);
}
.ball-purple {
    background: var(--color-purple);
}
.ball-red-striped {
    background: linear-gradient(0deg, #FFFFFF 10%, var(--color-red) 10%, var(--color-red) 90%, #FFFFFF 90%);
}
.ball-brown {
    background: var(--color-brown);
}