* {
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

.d-button {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ef476f;
    font-size: 35px;

    &:hover, &:active, &:focus, &:disabled {
        background-color: lighten(#ef476f, 10%);
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 30px;
    transition: all 250ms;
}

.buttons.hidden {
    opacity: 0;
    visibility: hidden;
}

.buttons:not(.hidden) {
    opacity: 1;
    visibility: visible;
}

.footer {
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './ball.scss';